html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol strong,
ul strong {
  font-size: 13px;
}

table {
  margin-bottom: 30px;
}

table tr:nth-child(2n) td {
  background: #ddd;
}

header{
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 10px;
  width: calc(100% - 0%);
  top: 0;
  min-height: 30px;
  color: #fff;
  padding-left: 250px;
}

h3, h4 {
  margin-bottom: 30px;
}

.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #0B87A6;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #2f323a;
  padding-top: 80px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 35px;
  text-decoration: none;
  padding-left: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  padding: 100px 20px;
  margin-left: 250px;
  height: 100vh;
  transition: 0.5s;
  min-height: 100vh;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.card {
  margin-bottom: 30px;
  background: #fff;
  padding: 15px;
  font-size: 14px;
}

body {
  font-size: 14px;
}

p {
  font-size: 14px !important;
}

ul {
  font-size: 14px !important;
  margin-bottom: 30px;
}

ul li {
  font-size: 14px !important;
}

.card-area > ul > li {
  margin-bottom: 20px;
}


code {
  display: block;
  background: #ddd;
}